<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--全类名-->
<mapper namespace="com.leyou.mapper.SkuMapper">
    <update id="minusStock">
        UPDATE tb_sku SET stock=stock-#{num} WHERE id=#{skuId}
    </update>

</mapper>